$header-color: darkblue;
$header-text-color: white;
$footer-color: darkblue;
$footer-text-color: white;

$background-color: white;
$section-color: gainsboro;
$section-border-color: darkblue;
$star-empty-color: lightgray;
$star-solid-color: #f8ce0b;
$error-color: red;
$input-color: gainsboro;
$button-color: darkblue;
$button-text-color: white;
