// Page Styling
@import "./_pageStyling";

footer {
  background-color: $footer-color;
  color: $footer-text-color;
  min-height: 20px;
  padding: 20px;

  // position: absolute;
  bottom: 0;
  width: 100%;

  a {
    // text-decoration: none;
    color: $footer-link-text-color;
  }
}
