// Page Styling
@import "./_pageStyling";

footer {
  background-color: $footer-color;
  color: $footer-text-color;
  // min-height: 20px;
  padding: 20px;

  a {
    // text-decoration: none;
    color: $footer-link-text-color;
  }

  @media only screen and (max-width: $break3) {
    padding: 10px;
  }
}
