// Page Styling
@import "./_pageStyling";

input:focus,
button:focus {
  outline: none;
}

.btn {
  background-color: $button-color;
  color: $button-text-color;
  font-weight: bold;
  font-size: 100%;
  border-radius: 12px;
  cursor: pointer;

  border-width: 1px;
  border-color: gray;
  background-image: linear-gradient($gradient-top, $button-color);

  /* Set a hover effect for the button */
  &:hover {
    opacity: 0.8;
  }
}

.centerMe {
  text-align: center;
}

.hideMe {
  display: none;
}
