// Page Styling
@import "./layouts/_pageStyling";

.episodesContainer {
  background-color: $background-color;

  display: grid;
  grid-template-areas: "showInfo episodes";
  grid-template-columns: 300px auto;
  grid-column-gap: 20px;

  .episodesBlock {
    grid-area: episodes;
    padding-bottom: 30px;
  }
}
