input:focus,
button:focus {
  outline: none;
}

.btn {
  background-color: darkblue;
  color: white;
  font-weight: bold;
  font-size: 100%;
  border-radius: 12px;

  /* Set a hover effect for the button */
  :hover {
    opacity: 0.8;
  }
}

.centerMe {
  text-align: center;
}
.hideMe {
  display: none;
}

/* SearchShowsForm page */
.fa-search {
  position: relative;
  margin-right: -45px;
  z-index: 10000;
}
.textInputError {
  border-color: red !important;
}
.submitButtonDisable {
  background-color: silver !important;
}
