.searchContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .input_searchterm {
    position: relative;
    width: 40% !important;
    padding: 15px 15px 15px 60px !important;
    font-size: 125% !important;
    border-radius: 12px !important;
    background-color: gainsboro;
    border: 2px solid transparent;
  }
  .inputErrorMessage {
    display: none;
    position: absolute;
    top: 69px;
    margin-top: 200;
    font-size: 75%;
    font-weight: bold;
    color: red;
  }
  .btn_search {
    padding: 15px 10px;
    margin-left: 10px;
  }
}
