// Page Styling
@import "./layouts/_pageStyling";

.searchContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .input_searchterm {
    position: relative;
    width: 40% !important;
    padding: 15px 15px 15px 60px !important;
    font-size: 125% !important;
    border-radius: 12px !important;
    background-color: $input-color;
    border: 2px solid transparent;
  }

  .searchIcon {
    position: relative;
    margin-right: -45px;
    z-index: 1000;
  }

  .textInputError {
    border-color: $error-color !important;
  }

  .inputErrorMessage {
    display: none;
    position: absolute;
    top: 69px;
    margin-top: 200;
    font-size: 75%;
    font-weight: bold;
    color: $error-color;
  }
}
