// Page Styling
@import "./layouts/_pageStyling";

.searchResultsBlock {
  padding-top: 20px;
  width: 70%; /* TODO: figure out a standard width in pixels */
  margin: 0px auto;
  min-height: 200px;
}
