// Page Styling
@import "./layouts/_pageStyling";

.searchContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .input_searchterm {
    position: relative;
    width: 40% !important;
    padding: 15px 15px 15px 60px !important;
    font-size: 125% !important;
    border-radius: 12px !important;
    background-color: $input-color;
    border: 2px solid transparent;

    // box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  }
  input.input_searchterm:-internal-autofill-selected {
    background-color: $input-color !important;
  }
  input.input_searchterm:focus {
    box-shadow: 0 0 10px cornflowerblue;
    -webkit-box-shadow: 0 0 10px cornflowerblue;
    -moz-box-shadow: 0 0 10px cornflowerblue;
  }

  .searchIcon {
    position: relative;
    margin-right: -45px;
    z-index: 1000;
  }

  .inputErrorMessage {
    display: none;
    position: absolute;
    top: 69px;
    margin-top: 200;
    font-size: 75%;
    font-weight: bold;
    color: $error-color;
  }

  @media only screen and (max-width: $break1) {
    .input_searchterm {
      width: 55% !important;
    }
  }

  @media only screen and (max-width: $break3) {
    padding: 20px 10px 10px 10px;

    .inputErrorMessage {
      top: 60px;
    }
    .input_searchterm {
      width: 75% !important;
    }
  }
}
