// Page Styling
@import "./layouts/_pageStyling";

.seasonOptions {
  padding: 10px;
  font-size: 125% !important;
  border-radius: 12px !important;
  background-color: $section-color;
  border: 2px solid transparent;
}

.seasonsWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .title {
    align-self: center;
    font-weight: bold;
  }
  .seasonsBlock {
    display: flex;
  }
  .btn_season {
    background-color: $button-inactive-color;
    margin: 3px;
    padding: 6px 9px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 15px;
  }
  .active {
    // background-color: $button-active-color;
    background-image: linear-gradient($gradient-top, $button-active-color);
  }

  @media only screen and (max-width: $break3) {
    margin-top: 20px;
  }
}
