// Page Styling
@import "./layouts/_pageStyling";

.episodeBlock {
  display: grid;
  max-width: 600px;
  grid-template-areas: "epNumber epTitle epImage" "epNumber epData epImage";
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 20px;
  background-color: $section-color;
  margin-top: 30px;
  border: 1px solid $section-border-color;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px $shadow-color;

  .episodeNumber {
    grid-area: epNumber;
    margin: 20px 0px 20px 20px;
    padding: 15px 15px;
    background-color: $button-color;
    color: $button-text-color;
    border-radius: 6px;
    font-weight: bold;
  }

  .episodeTitle {
    grid-area: epTitle;
    align-self: center;
    margin-top: 20px;
    font-weight: bold;
  }

  .episodeData {
    grid-area: epData;
    align-self: center;
    margin-bottom: 20px;
  }

  .episodeImage {
    grid-area: epImage;
    height: 88px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
