.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  justify-content: center;
}

.input_searchterm {
  position: relative;
  width: 40% !important;
  padding: 15px 15px 15px 60px !important;
  font-size: 125% !important;
  border-radius: 12px !important;
  background-color: gainsboro;
  border: 2px solid transparent;
}
.btn_search {
  padding: 15px 10px;
  margin-left: 10px;
}
.fa-search {
  position: relative;
  margin-right: -45px;
  top: 10px;
  z-index: 10000;
}

.results_block {
  padding-top: 20px;
  width: 70%;
  margin: 0px auto;
}

.centerMe {
  text-align: center;
}

.textInputError {
  border-color: red !important;
}

.submitButtonDisable {
  background-color: silver !important;
}

.inputErrorMessage {
  display: none;
  position: absolute;
  top: 69px;
  margin-top: 200;
  font-size: 75%;
  font-weight: bold;
  color: red;
}
